@mixin location($left:0,$right:0,$top:0,$bottom:0,$pos:absolute){
	position:$pos;
	left:$left;
	right:$right;
	top:$top;
	bottom:$bottom;
}

.chat-body{
	$partner-height:10em;
	@include location;
	.chat-window{
		width:70%;
		@include location(auto);
		$input-height:3em;
		.chat-partner{
			height:$partner-height;
			@include location(0,0,0,auto);
			background-color: #3F483F;
			color: #fff;
		    text-align: center;
		    line-height: $partner-height;
		    vertical-align: middle;
		    span{
		    	font-size:2.5em;
		    }
		}
		.chat-message{
			@include location(0,0,$partner-height,$input-height);
			overflow: auto;
			background-color: #4A4C6B;
		}
		.chat-input{
			height:$input-height;
			@include location(0,0,auto);
			background: #000; 
			padding: 3px;
			input{
				border: 0; padding: 10px; width: 90%; margin-right: .5%;
			}
			button{
				width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px;
			}
		}
	}
	.chat-user-list{
		width:30%;
		@include location(0,auto);
		.chat-user-current{
			height:$partner-height;
			@include location(0,0,0,auto);
			background-color: #29438A;
		    color: #fff;
		    text-align: center;
		    line-height: $partner-height;
		    vertical-align: middle;
		    span{
		    	font-size:2.5em;
		    }
		}
		.chat-user-online{
			@include location(0,0,$partner-height);
			overflow:auto;
			background-color: #6D5B92;
		}
	}
}

ul{
	list-style-type: none; 
	margin: 0; 
	padding: 0;
	li{
		padding: 10px 15px;
		font-size: 1.5em;
		color: #fff;
		&:nth-child(odd){
			    background: #7B6B6B;
		}
	}
}

.page-cover{
	@include location;
	background-color: #000;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    -moz-opacity: .7;
    -khtml-opacity: .7;
    opacity: .7;
}
.login-window{
	$width:60em;
	$height:30em;
	position:absolute;
	width:$width;
	height:$height;
	top:50%;
	left:50%;
	margin:{
		left:-$width/2;
		top:-$height/2;
	};
	background-color:#fff;
	div{
		padding:.2em;
		font-size:1.8em;
		input[type=submit]{
			display:block;
			width:100%;
		}
		input[type=text],input[type=password]{
			@extend input[type=submit];
			font-size: 1.2em;
			padding:.3em;
			border:1px solid #eee;
		}
	}
	.login-window-operator{
		@include location(0,0,auto);
		input{
			font-size: 1.2em;
		}
	}
	.login-window-error{
		color:red;
		padding:13px;
	}
}